@model IEnumerable<Society.Data.Salary_With_Allowences>
@{
    ViewBag.Title = "Manage_Salary";
}
@if (Session["CNIC"] == null || ViewBag.Key==false) { Response.Redirect("/Login/Login"); }
else
{
    <div style="margin: 8px 8px">
        <div class="content-wrapper" style="background-color:white">
            <form runat="server">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Employee Salary List</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Employee Salary List</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
                <!-- Main content -->
                <!-- Content Wrapper. Contains page content -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">


                        <div class="row">
                            <div class="col-md-10 offset-md-11">







                                <div class="card-tools">
                                    <a href="/Salary_With_Allowences/AddNew_Salary" class="btn btn-primary"> Add New</a>
                                </div>



                            </div>

                        </div>


                    </div>

                </section>
                <!-- ./start table-------------------------------------------------------------------------------------------------------------------- -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped projects" id="example1">
                            <thead>
                                <tr>
                                    <th style="width: 1%">#</th>
                                    <th style="width: 15%">Employee Name</th>
                                    <th style="width: 15%">Gross Salary</th>
                                    <th style="width: 15%">House Rent Allowence</th>
                                    <th style="width: 15%">Medical Allowence</th>
                                    <th>Convance Allownce</th>
                                    <th>Rate_Per_Hour</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            @{ int count = 1;}
                            @foreach (var x in Model)
                            {

                                <tr>
                                    <td>@count</td>
                                    <td>@x.Employee.F_Name @x.Employee.L_Name</td>
                                    <td>@x.Gross_Salary</td>
                                    <td>@x.House_Rent_Allowence</td>
                                    <td>@x.Medical_Allowence</td>
                                    <td>@x.Convance_Allownce</td>
                                    <td>@x.Rate_Per_Hour /Hour</td>
                                    <td>
                                        <a class="btn btn-info btn-sm m-1" href="/Salary_With_Allowences/Update_Salary?ID=@x.Salary_ID"><i class="fas fa-pencil-alt"></i></a>

                                        <a href="/Salary_With_Allowences/Delete?id=@x.Salary_ID" class="btn btn-danger btn-sm m-1"><i class="fas fa-trash"></i></a>
                                    </td>


                                </tr>
                                count = count + 1;
                            }
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

}