@model Society.Data.Dealer
@if (Session["CNIC"] == null || Session["type"].ToString() == "Employee" || ViewBag.Key == false) { Response.Redirect("/Login/Login"); }
else
{
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add New Dealer</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dealer Add</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <form method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Dealer Details</h3>
                            </div>
                            <div class="card-body">


                                <div class="form-group offset-9 col-3">
                                    <label for="inputName">Registration Date</label>
                                    <input type="date" class="form-control"
                                           value="@Model.Reg_Date.ToString("yyyy-MM-dd")" name="Reg_Date" required />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputName">Name of Firm/Company</label><span style="color:red">*</span>
                                    <input type="text" class="form-control" placeholder="Company_Name" value="@Model.Company_Name"
                                           name="Company_Name" required />
                                </div>

                                <div class="form-group col-12 ">
                                    <label for="inputProjectLeader">Full Address</label><span style="color:red">*</span>
                                    <textarea type="text" class="form-control" placeholder="Company Address" required
                                              name="Company_Address" id="Address">@Model.Company_Address</textarea>
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputProjectLeader">Telephone No</label><span style="color:red">*</span>
                                    <input type="text" class="form-control" placeholder="Person Number" name="Person_Phone" value="@Model.Person_Phone" required />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputProjectLeader">Mailing Address</label>
                                    <input type="email" class="form-control" placeholder="Email Address" name="Person_Email" value="@Model.Person_Email" />
                                </div>

                                <div class="form-group col-12 ">
                                    <label for="inputName">Name & Address of Banker</label>
                                    <textarea type="text" class="form-control" placeholder="Addressbanker"
                                              name="Addressbanker">@Model.Addressbanker</textarea>
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputName">Particular of Director/party/proprietor Name 1</label><span style="color:red">*</span>
                                    <input type="text" class="form-control" placeholder="PartyName1" name="PartyName1" required value="@Model.PartyName1" />
                                </div>

                                <div class="form-group col-12 ">
                                    <label for="inputName">Particular of Director/party/proprietor Name 2</label><span style="color:red">*</span>
                                    <input type="text" class="form-control" placeholder="PartyName2" name="PartyName2" required value="@Model.PartyName2" />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputName">Year of Establishment</label>
                                    <input type="text" class="form-control" placeholder="YearOfEstablished" name="YearOfEstablished" value="@Model.YearOfEstablished" />
                                </div>
                                <div class="form-group col-12"><h3 class=" font-weight-bold font-weight-500">Chief Executive/owner:</h3> </div>
                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Name</label>
                                    <input type="text" class="form-control" placeholder="Name" name="CEOName" value="@Model.CEOName" />
                                </div>

                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">CNIC No</label>
                                    <input type="text" class="form-control" placeholder="CNIC" name="CEOCNIC" value="@Model.CEOCNIC" />
                                </div>

                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Qualification</label>
                                    <input type="text" class="form-control" placeholder="CEOQualification" name="CEOQualification" value="@Model.CEOQualification" />
                                </div>

                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Residential Address</label>
                                    <input type="text" class="form-control" placeholder="ResidentialAddress" name="ResidentialAddress" value="@Model.ResidentialAddress" />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Telephone</label>
                                    <input type="text" class="form-control" placeholder="Telephone" name="Telephone" value="@Model.Telephone" />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">NTN</label>
                                    <input type="text" class="form-control" placeholder="NTN" name="NTN" value="@Model.NTN" />
                                </div>
                                <div class="form-group col-12"><h3 class=" font-weight-bold font-weight-500">Dealer Price:</h3> </div>


                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Plot Price (Pr Sq Ft)</label>
                                    <input type="number" class="form-control" placeholder="DealerAppartmentPrice" name="DealerAppartmentPrice" value="@Model.DealerAppartmentPrice" />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Office Price (Pr Sq Ft)</label>
                                    <input type="number" class="form-control" placeholder="DealerOfficePrice" name="DealerOfficePrice" value="@Model.DealerOfficePrice" />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Shop Price (Pr Sq Ft)</label>
                                    <input type="number" class="form-control" placeholder="DealerShopPrice" name="DealerShopPrice" value="@Model.DealerShopPrice" />
                                </div>
                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Pent House Price (Pr Sq Ft)</label>
                                    <input type="number" class="form-control" placeholder="PentHousePrice" name="DealerPentHousePrice"  value="@Model.DealerPentHousePrice" />
                                </div>

                                <div class="form-group col-12 ">
                                    <label for="inputClientCompany">Dealer Type</label>
                                    <select type="text" class="form-control" onchange="delaer_change()" placeholder="" id="dealerType" name="dealerType">
                                        @if (Model.Dealer2 == null)
                                        {



                                            <option value="1" selected>Main Dealer</option>


                                            <option value="2">Sub Dealer</option>
                                        }
                                        else
                                        {
                                            <option value="1">Main Dealer</option>


                                            <option value="2" selected>Sub Dealer</option>
                                        }
                                    </select>
                                </div>
                                <script>

                                    function delaer_change() {
                                        var data = $('#dealerType').val();
                                        if (data == 1) {

                                            $('#testtest').hide();
                                        } else {

                                            $('#testtest').show();
                                        }
                                    }
                                    window.onload = delaer_change();
                                </script>
                                @{var disp = "";
                                    var t = Model.Dealer2 == null ? disp = "none" : disp = "";}
                                <div class="form-group col-12" id="testtest" style="display : @disp ">
                                    <label for="inputClientCompany">Main Dealer</label>
                                    <select type="text" class="form-control" placeholder="" id="ParentDealerId" name="ParentDealerId">

                                        @if (Model.Dealer2 != null)
                                        {

                                            <option selected value="@Model.ParentDealerId">@Model.Dealer1.FirstOrDefault().Company_Name</option>
                                        }
                                        @foreach (Society.Data.Dealer a in ViewBag.dealer)
                                        {
                                            <option value="@a.Dealer_ID">@a.Company_Name</option>
                                        }
                                    </select>
                                </div>

                                <input hidden name="Dealer_id" value="@Model.Dealer_ID" />



                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Add Dealer" class="btn btn-success float-right">
                    </div>
                </div>
            </form>
        </section>
    </div>


}

