@model IEnumerable<Society.Data.Refund>




@if (Session["CNIC"] == null || Session["type"].ToString() == "Employee" || ViewBag.Key == false) { Response.Redirect("/Login/Login"); }
else
{
    <div style="margin: 8px 8px">
        <div class="content-wrapper" style="background-color:white">
            <form>
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Refund List</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Refund List</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
                <!-- Main content -->
                <!-- Content Wrapper. Contains page content -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">


                        <div class="row">


                        </div>


                    </div>

                </section>
                <!-- ./start table-------------------------------------------------------------------------------------------------------------------- -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped projects" id="example1">
                            <thead>
                                <tr>
                                    <th style="width: 5%">Ref#</th>
                                    <th style="width: 15%">Member Name</th>
                                    <th style="width: 12%">Refund Date</th>
                                    <th style="width: 12%">Amount</th>
                                    <th style="width: 17%">Head</th>

                                    <th style="width: 15%">Status</th>

                                </tr>
                            </thead>

                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.Reg_No</td>
                                    <td>@x.Member_Name</td>


                                    <td>@x.Date.ToString("dd-MM-yyyy")</td>




                                    <td>@x.Amount.ToString("n0")</td>
                                    <td>@x.Head</td>

                                    <td>
                                        <a title="view" class="btn btn-info btn-sm m-1" href="/refund/print?ID=@x.ID"><i class="fas fa-file-alt"></i></a>

                                    </td>



                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

}

