@model Society.Data.Oversea
@{
    Layout = null;
}@if (Session["CNIC"] == null || Session["type"].ToString() == "Employee" || ViewBag.Key == false) { Response.Redirect("/Login/Login"); }
else
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Colorlib Templates">
        <meta name="author" content="Colorlib">
        <meta name="keywords" content="Colorlib Templates">

        <!-- Title Page-->
        <title>NPF CIGHU Agro FarmHouse | VERIFICATION FORM</title>

        <!-- Icons font CSS-->
        <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Vendor CSS-->
        <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
        <style>
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }

            body.modal-open {
                overflow: hidden;
            }

            .modal-content {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0 auto;
                padding: 20px;
                width: 80%;
                max-width: 600px;
                background-color: #fefefe;
                border-radius: 4px;
            }

            .modal-body {
                max-height: 320px;
                overflow-y: scroll;
                background-color: #ededed;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                padding: 20px;
            }

            .modal-header h2 {
                margin-top: 0;
                margin-bottom: 10px;
            }

            .checkbox-label {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 16px;
                user-select: none;
            }

                .checkbox-label input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

            .checkbox-checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #d5cccc;
            }

            .checkbox-label:hover input ~ .checkbox-checkmark {
                background-color: #ccc;
            }

            .checkbox-label input:checked ~ .checkbox-checkmark {
                background-color: #2196F3;
            }

            .checkbox-checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            .checkbox-label input:checked ~ .checkbox-checkmark:after {
                display: block;
            }

            .checkbox-label .checkbox-checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }

            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
        </style>
        <!-- Main CSS-->
        <style>
                /* ==========================================================================
              #FONT
              ========================================================================== */
                .font-robo {
                    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
                }

                .font-poppins {
                    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
                }

                /* ==========================================================================
              #GRID
              ========================================================================== */
                .row {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                }

                .row-space {
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    -moz-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }

                .col-2 {
                    width: -webkit-calc((100% - 30px) / 2);
                    width: -moz-calc((100% - 30px) / 2);
                    width: calc((100% - 30px) / 2);
                }

                @@media (max-width: 767px) {
                    .col-2 {
                        width: 100%;
                    }
                }

                /* ==========================================================================
              #BOX-SIZING
              ========================================================================== */
                /**
            * More sensible default box-sizing:
            * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
            */
                html {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                * {
                    padding: 0;
                    margin: 0;
                }

                    *, *:before, *:after {
                        -webkit-box-sizing: inherit;
                        -moz-box-sizing: inherit;
                        box-sizing: inherit;
                    }

                /* ==========================================================================
              #RESET
              ========================================================================== */
                /**
            * A very simple reset that sits on top of Normalize.css.
            */
                body,
                h1, h2, h3, h4, h5, h6,
                blockquote, p, pre,
                dl, dd, ol, ul,
                figure,
                hr,
                fieldset, legend {
                    margin: 0;
                    padding: 0;
                }

                /**
            * Remove trailing margins from nested lists.
            */
                li > ol,
                li > ul {
                    margin-bottom: 0;
                }

                /**
            * Remove default table spacing.
            */
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                /**
            * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
            *    on fieldsets.
            */
                fieldset {
                    min-width: 0;
                    /* [1] */
                    border: 0;
                }

                button {
                    outline: none;
                    background: none;
                    border: none;
                }

                /* ==========================================================================
              #PAGE WRAPPER
              ========================================================================== */
                .page-wrapper {
                    min-height: 100vh;
                }

                body {
                    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }

                h1, h2, h3, h4, h5, h6 {
                    font-weight: 400;
                }

                h1 {
                    font-size: 36px;
                }

                h2 {
                    font-size: 30px;
                }

                h3 {
                    font-size: 24px;
                }

                h4 {
                    font-size: 18px;
                }

                h5 {
                    font-size: 15px;
                }

                h6 {
                    font-size: 13px;
                }

                /* ==========================================================================
              #BACKGROUND
              ========================================================================== */
                .bg-blue {
                    background: #2c6ed5;
                }

                .bg-red {
                    background: #fa4251;
                }

                .bg-gra-01 {
                    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
                    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
                    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
                    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
                    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
                }

                .bg-gra-02 {
                    background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
                    background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
                    background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
                    background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
                    background: linear-gradient(to top right, #000000 0%,#145c31 100%);
                }

                /* ==========================================================================
              #SPACING
              ========================================================================== */
                .p-t-100 {
                    padding-top: 100px;
                }

                .p-t-130 {
                    padding-top: 30px;
                }

                .p-t-180 {
                    padding-top: 180px;
                }

                .p-t-20 {
                    padding-top: 20px;
                }

                .p-t-15 {
                    padding-top: 15px;
                }

                .p-t-10 {
                    padding-top: 10px;
                }

                .p-t-30 {
                    padding-top: 30px;
                }

                .p-b-100 {
                    padding-bottom: 100px;
                }

                .m-r-45 {
                    margin-right: 45px;
                }

                /* ==========================================================================
              #WRAPPER
              ========================================================================== */
                .wrapper {
                    margin: 0 auto;
                }

                .wrapper--w960 {
                    max-width: 960px;
                }

                .wrapper--w780 {
                    max-width: 780px;
                }

                .wrapper--w680 {
                    max-width: 1171px;
                }

                /* ==========================================================================
              #BUTTON
              ========================================================================== */
                .btn {
                    display: inline-block;
                    line-height: 50px;
                    padding: 0 50px;
                    -webkit-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                    cursor: pointer;
                    font-size: 18px;
                    color: #fff;
                    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
                }

                .btn--radius {
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                }

                .btn--radius-2 {
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }

                .btn--pill {
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                }

                .btn--green {
                    background: #57b846;
                }

                    .btn--green:hover {
                        background: #4dae3c;
                    }

                .btn--blue {
                    background: linear-gradient(to top right, #000000 0%,#145c31 100%);
                }

                    .btn--blue:hover {
                        background: linear-gradient(to top right, #145c31 0%,#000000 100%);
                    }

                /* ==========================================================================
              #DATE PICKER
              ========================================================================== */
                td.active {
                    background-color: #2c6ed5;
                }

                input[type="date" i] {
                    padding: 14px;
                }

                .table-condensed td, .table-condensed th {
                    font-size: 14px;
                    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
                    font-weight: 400;
                }

                .daterangepicker td {
                    width: 40px;
                    height: 30px;
                }

                .daterangepicker {
                    border: none;
                    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    display: none;
                    border: 1px solid #e0e0e0;
                    margin-top: 5px;
                }

                    .daterangepicker::after, .daterangepicker::before {
                        display: none;
                    }

                    .daterangepicker thead tr th {
                        padding: 10px 0;
                    }

                    .daterangepicker .table-condensed th select {
                        border: 1px solid #ccc;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        font-size: 14px;
                        padding: 5px;
                        outline: none;
                    }

                /* ==========================================================================
              #FORM
              ========================================================================== */
                input {
                    outline: none;
                    margin: 0;
                    border: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    width: 100%;
                    font-size: 14px;
                    font-family: inherit;
                }

                .input--style-4 {
                    line-height: 50px;
                    background: #e5e5e5;
                    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    padding: 0 20px;
                    font-size: 16px;
                    color: #666;
                    -webkit-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                }

                    .input--style-4::-webkit-input-placeholder {
                        /* WebKit, Blink, Edge */
                        color: #666;
                    }

                    .input--style-4:-moz-placeholder {
                        /* Mozilla Firefox 4 to 18 */
                        color: #666;
                        opacity: 1;
                    }

                    .input--style-4::-moz-placeholder {
                        /* Mozilla Firefox 19+ */
                        color: #666;
                        opacity: 1;
                    }

                    .input--style-4:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: #666;
                    }

                    .input--style-4:-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: #666;
                    }

                .label {
                    font-size: 16px;
                    color: #555;
                    text-transform: capitalize;
                    display: block;
                    margin-bottom: 5px;
                }

                .radio-container {
                    display: inline-block;
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                    font-size: 16px;
                    color: #666;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                    .radio-container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                        .radio-container input:checked ~ .checkmark {
                            background-color: #e5e5e5;
                        }

                            .radio-container input:checked ~ .checkmark:after {
                                display: block;
                            }

                    .radio-container .checkmark:after {
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        width: 12px;
                        height: 12px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        background: #57b846;
                    }

                .checkmark {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    left: 0;
                    height: 20px;
                    width: 20px;
                    background-color: #e5e5e5;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                }

                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                .input-group {
                    position: relative;
                    margin-bottom: 22px;
                }

                .input-group-icon {
                    position: relative;
                }

                .input-icon {
                    position: absolute;
                    font-size: 18px;
                    color: #999;
                    right: 18px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    cursor: pointer;
                }

                /* ==========================================================================
              #SELECT2
              ========================================================================== */
                .select--no-search .select2-search {
                    display: none !important;
                }

                .rs-select2 .select2-container {
                    width: 100% !important;
                    outline: none;
                    background: #fafafa;
                    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }

                    .rs-select2 .select2-container .select2-selection--single {
                        outline: none;
                        border: none;
                        height: 50px;
                        background: transparent;
                    }

                        .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
                            line-height: 50px;
                            padding-left: 0;
                            color: #555;
                            font-size: 16px;
                            font-family: inherit;
                            padding-left: 22px;
                            padding-right: 50px;
                        }

                        .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
                            height: 50px;
                            right: 20px;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                            -moz-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -moz-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                        }

                            .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
                                display: none;
                            }

                            .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
                                font-family: "Material-Design-Iconic-Font";
                                content: '\f2f9';
                                font-size: 24px;
                                color: #999;
                                -webkit-transition: all 0.4s ease;
                                -o-transition: all 0.4s ease;
                                -moz-transition: all 0.4s ease;
                                transition: all 0.4s ease;
                            }

                    .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
                        -webkit-transform: rotate(-180deg);
                        -moz-transform: rotate(-180deg);
                        -ms-transform: rotate(-180deg);
                        -o-transform: rotate(-180deg);
                        transform: rotate(-180deg);
                    }

                .select2-container--open .select2-dropdown--below {
                    border: none;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    border: 1px solid #e0e0e0;
                    margin-top: 5px;
                    overflow: hidden;
                }

                .select2-container--default .select2-results__option {
                    padding-left: 22px;
                }

                /* ==========================================================================
              #TITLE
              ========================================================================== */
                .title {
                    font-size: 24px;
                    color: #525252;
                    font-weight: 400;
                    margin-bottom: 40px;
                }

                .title-success {
                    border: 1px solid transparent;
                    border-color: #2bd93f;
                    color: #2a8134;
                    border-radius: 10px;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 40px;
                }

                .title-error {
                    background-color: #f2dede;
                    border: 1px solid transparent;
                    border-color: #ebccd1;
                    color: #a94442;
                    border-radius: 10px;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 40px;
                }
                /* ==========================================================================
              #CARD
              ========================================================================== */
                .card {
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    background: #fff;
                }

                .card-4 {
                    background: #fff;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                }

                    .card-4 .card-body {
                        padding: 57px 65px;
                        padding-bottom: 65px;
                    }

                @@media (max-width: 767px) {
                    .card-4 .card-body {
                        padding: 50px 40px;
                    }
                }
        </style>

    </head>

    <body>
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div style="text-align:center;margin-bottom:20px"><img style="border-radius:10px" height="120" width="120" src="~/NPF.jpg" /></div>
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">

                        @if (!string.IsNullOrWhiteSpace(ViewBag.Success))
                        {<h4 style="text-align: center; background-color: #7ecf73a3; font-weight: 300 " class="title-success">@ViewBag.Success</h4>}

                        @if (!string.IsNullOrWhiteSpace(ViewBag.Exist))
                        {<h4 style="text-align: center; font-weight: 300" class="title-error">@ViewBag.Exist</h4>}
                        <h2 style="text-align: center; font-weight:600" class="title">Overseas Verification Form</h2>
                        <form id="overseasForm" method="POST">
                            <div style="float:right">
                                <div class="image-preview">
                                    <video hidden height="285" width="275" id="video"></video>
                                    @if (Model.profileImage != null)
                                    {

                                        <img class="preview-image" id="imagePreview" alt="TAKE PHOTO" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.profileImage))" />
                                    }
                                    else
                                    {
                                        <img class="preview-image" id="imagePreview" alt="TAKE PHOTO" />

                                    }
                                </div>
                                <div class="file-input" style="margin-top:18px">
                                    <span class="file-button" id="startButton">Start Camera</span>
                                    <span class="file-button" id="captureButton">Take Photo</span>
                                    <input type="file" id="file" accept="image/*" onchange="handleFileSelect(event)">
                                    <label for="file" class="file-button">Select Image</label>
                                    @if (Model.profileImage != null)
                                    {

                                        <input type="hidden" name="Profile_Image" id="Data" value="data:image/jpeg;base64,@(Convert.ToBase64String(Model.profileImage))" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="Profile_Image" id="Data" />

                                    }
                                </div>

                            </div>
                            <script>
function handleFileSelect(event) {
                                    var file = event.target.files[0];
                                    var reader = new FileReader();

                                    reader.onload = function () {
                                        var dataInput = document.getElementById('Data');
                                        var preview = document.getElementById('imagePreview');
                                        preview.src = reader.result;
                                        dataInput.value = reader.result;
                                    };

                                    reader.readAsDataURL(file);
}
                            </script>
                            <style>
                                .file-input {
                                    position: relative;
                                    display: inline-block;
                                }

                                    .file-input input[type="file"] {
                                        position: absolute;
                                        left: -9999px;
                                    }

                                .file-button {
                                    display: inline-block;
                                    padding: 5px 5px;
                                    background-color: #007bff;
                                    color: #fff;
                                    border: none;
                                    border-radius: 4px;
                                    cursor: pointer;
                                }

                                    .file-button:hover {
                                        background-color: #0056b3;
                                    }

                                .image-preview {
                                    width: 300px;
                                    height: 285px;
                                    border: 2px dashed #ccc;
                                    border-radius: 4px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;
                                }

                                .preview-image {
                                    max-width: 100%;
                                    max-height: 100%;
                                }

                                .upload-button {
                                    margin-top: 12px;
                                    padding: 10px 19px;
                                    font-size: 16px;
                                    background-color: #007bff;
                                    color: #fff;
                                    border: none;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    width: 136px
                                }

                                #upload-button:hover {
                                    background-color: #0056b3;
                                }
                            </style>
                            <script>
var captureButton = document.getElementById('captureButton');
var startButton = document.getElementById('startButton');
var video = document.getElementById('video');
var imagePreview = document.getElementById('imagePreview');


startButton.addEventListener('click', function () {
                                    // Request access to the camera
                                    var video = document.getElementById('video');
                                    video.hidden = false;
                                    imagePreview.hidden = true;
                                    var canvas = document.getElementById('canvas');
                                    navigator.mediaDevices.getUserMedia({ video: true })
                                        .then(function (stream) {
                                            video.srcObject = stream;
                                            video.play();
                                        });

                                    // Save image data to hidden field
                                    var context = canvas.getContext('2d');
                                    video.addEventListener('canplay', function () {
                                        canvas.width = video.videoWidth;
                                        canvas.height = video.videoHeight;
                                        setInterval(function () {
                                            context.drawImage(video, 0, 0, canvas.width, canvas.height);

                                            //  imagePreview.src = canvas.toDataURL('image/jpeg');
                                        }, 1000 / 30);
                                    });
});
function captureImage() {
                                    var dataInput = document.getElementById('Data');
                                    video.hidden = true;
                                    imagePreview.hidden = false;
                                    var canvas = document.createElement('canvas');
                                    canvas.width = video.videoWidth;
                                    canvas.height = video.videoHeight;
                                    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                                    var imageData = canvas.toDataURL('image/png');
                                    console.log(imageData);
                                    imagePreview.src = imageData;
                                    dataInput.value = imageData;
} captureButton.addEventListener('click', function () {
                                    captureImage();
});
// Capture image from web cam

                            </script>
                            <div style="font-weight:600; margin-bottom:18px" class="title">Personal Details:</div>
                            @Html.AntiForgeryToken()
                            <div class="row row-space">
                                <div class="col-2" style="width:100%;margin-right:20px">
                                    <div class="input-group">
                                        <label class="label">Name&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="Name" value="@Model.Name">
                                    </div>
                                </div>
                            </div><input type="hidden" name="id" value="@Model.id" />
                            <div class="row row-space">

                                <div class="col-2" style="width:100%;margin-right:20px">
                                    <div class="input-group">
                                        <label class="label">S/o, D/o, W/o&nbsp;<span style="color:red">*</span></label>
                                        <input class="input--style-4" type="text" required name="SoDoWo" value="@Model.SoDoWo">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2" style="width:100%;margin-right:20px">
                                    <div class="input-group">
                                        <label class="label">CNIC #/ Passport #&nbsp;<span style="color:red">*</span></label>
                                        <input class="input--style-4" type="text" required name="CNICOrPassport" value="@Model.CNICOrPassport">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Email</label>
                                        <input class="input--style-4" type="email" name="Email" value="@Model.Email">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Secondary Contact</label>
                                        <input class="input--style-4" type="text" name="SecondaryContact" value="@Model.SecondaryContact">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Country of Residence</label>
                                        <input class="input--style-4" type="text" name="Country" value="@Model.Country">
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Contact No.&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="Contact" value="@Model.Contact">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2" style="width:100%">
                                    <div class="input-group">
                                        <label class="label">Overseas Address&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" name="OverseasAddress" value="@Model.OverseasAddress" />
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2" style="width:100%">
                                    <div class="input-group">
                                        <label class="label">Pakistan mailing Address&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" name="pakistanAddress" value="@Model.pakistanAddress" />
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Next of Kin&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="KinName" value="@Model.KinName">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">S/o, D/o, W/o&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="KinSoDoWo" value="@Model.KinSoDoWo">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">CNIC #&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="kinCNIC" value="@Model.kinCNIC">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Contact No.&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="KinContact" value="@Model.KinContact">
                                    </div>
                                </div>
                            </div>
                            <div style="font-weight:600; margin-bottom:18px" class="title">Unit Details:</div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Reference No.&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="ReferenceNo" value="@Model.ReferenceNo">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Size&nbsp;<span style="color:red">*</span></label>
                                        <input required class="input--style-4" type="text" name="Size" value="@Model.Size">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Date of Booking&nbsp;<span style="color:red">*</span></label>
                                        <input required style="padding:8px !important" class="input--style-4" type="date" value="@Model.Date.ToString("yyyy-MM-dd")" name="Date">
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15" style="text-align:center">
                                <button style="width:300px" class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Jquery JS-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="vendor/select2/select2.min.js"></script>
        <script src="vendor/datepicker/moment.min.js"></script>
        <script src="vendor/datepicker/daterangepicker.js"></script>

        <!-- Main JS-->
        <script src="js/global.js"></script>


        <style>
            .acceptButton:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }

            .acceptButton {
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            .modal-footer {
                margin-top: 20px;
            }
        </style>
        <script>
var modal = document.getElementById("myModal");
var checkbox = document.getElementById("checkbox");
var acceptButton = document.getElementById("acceptButton");

function openModal() {
                modal.style.display = "block";
                document.body.classList.add("modal-open");
}

function closeModal() {
                modal.style.display = "none";
                document.body.classList.remove("modal-open");
}

function enableButton() {
                acceptButton.disabled = !checkbox.checked;
}

function acceptTerms() {
                document.getElementById("overseasForm").submit();
                // Perform actions after the user accepts the terms and conditions
                closeModal();
}
        </script>

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->}